<template>
<div v-if="crear_actualizar">
  <h1>Registrar</h1>
  <b-form @submit="guardarPersona()">
    <b-form-group label="Tipo de Identificacion:" label-for="tipo_identificacion">
      <b-form-select id="tipoIdentificacion"
                      :options="tipos_identificacion" required
                      v-model="persona.tipoDocumento"
        ></b-form-select>
    </b-form-group>
    <b-form-group label="Número de identificación:" label-for="identificacion">
      <b-form-input id="identificacion" type="number" v-model="persona.nroDocumento" required placeholder="Número de identificación"></b-form-input>
    </b-form-group>
    <b-form-group label="Nombres:" label-for="nombres">
      <b-form-input id="nombres" type="text" v-model="persona.nombres" required placeholder="Nombres"></b-form-input>
    </b-form-group>
    <b-form-group label="Apellidos:" label-for="apellidos">
      <b-form-input id="apellidos" type="text" v-model="persona.apellidos" required placeholder="Apellidos"></b-form-input>
    </b-form-group>
    <b-form-group label="Sexo:">
      <b-form-select id="sexo"
                      :options="sexos" required
                      v-model="persona.sexo"
        ></b-form-select>
    </b-form-group>
    <b-form-group label="Fecha de nacimiento:" label-for="fecha_nacimiento">
      <b-form-input id="fecha" type="date" v-model="fecha" required placeholder="Fecha"></b-form-input>
    </b-form-group>
    <b-form-group>
      <b-button type="submit" variant="success">Guardar</b-button>
      <b-button v-if="persona.id" @click="eliminarPersona()" variant="danger">Eliminar</b-button>
      <b-button @click="limpiarForm()" variant="info">Limpiar</b-button>
      <b-button @click="toggleConsultar()" variant="warning">Consultar</b-button>
    </b-form-group>
  </b-form>
</div>
<div v-else>
  <h1>Consultar</h1>
  <b-form>
    <b-form-group>
      <b-table striped hover :items="items" :fields="fields">
        <template slot="actions" scope="row">
          <b-btn size="sm" @click.stop="mostrarPersona(row.item)" variant="info">Mostrar</b-btn>
        </template>
      </b-table>
      <b-button @click="toggleConsultar()" variant="success">Registrar</b-button>
    </b-form-group>
  </b-form>
</div>
</template>

<script>
import PersonaController from '../controller/PersonaController'
import Config from '../config'
import moment from 'moment'

var context;

function limpiarForm() {
    context.persona={
      tipoDocumento:"CC",
      nroDocumento:"",
      nombres:"",
      apellidos:"",
      sexo:"MASCULINO",
      fechaNacimiento:""
    };
    context.fecha="";
    console.log(context.persona);
}

function mostrarPersona(prsn){
  context.persona = prsn;
  context.fecha = moment(context.persona.fechaNacimiento).format('YYYY-MM-DD');
  context.crear_actualizar = true;
}

function eliminarPersona(){
  PersonaController.deletePersona(context.persona.id,res=>{
    limpiarForm();
    context.crear_actualizar = false;
    listarPersona();
  },err=>{
      console.log(err);
  });  
}

function guardarPersona() {
    context.persona.fechaNacimiento = moment(context.fecha, "YYYY-MM-DD").toDate();
    PersonaController.savePersona(context.persona, res=>{
      context.persona = res;
      //limpiarForm();
    },err=>{
      console.log(err);
    });
}

function listarPersona() {
  PersonaController.findAllPersona(res=>{
    context.items=res;
  },err=>{
    context.items=[];
    Console.log(err);
  });
}

function toggleConsultar() {
  context.crear_actualizar = !context.crear_actualizar;
  if(!context.crear_actualizar){
    listarPersona();
  }
}

function init(ctx){
  context = ctx;
}

export default {
  name: 'PersonaForm',
  methods:{
    guardarPersona,
    toggleConsultar,
    eliminarPersona,
    mostrarPersona,
    limpiarForm,
    init
  },
  mounted(){
    init(this);
  },
  data () {
    return {
      crear_actualizar: false,
      persona:{
          tipoDocumento:"CC",
          nroDocumento:"",
          nombres:"",
          apellidos:"",
          sexo:"MASCULINO",
          fechaNacimiento:""
      },
      fecha:"",
      lang:Config.lang,
      tipos_identificacion:["CC","CE","TI","ND"],
      sexos:["MASCULINO","FEMENINO"],
      //Consultar
      fields: [
      {
        key: 'nroDocumento',
        label: 'Identificacion',
        sortable: false
      },
      {
        key: 'tipoDocumento',
        label: 'Tipo Id.',
        sortable: false
      },
      {
        key: 'nombres',
        label: 'Nombres',
        sortable: true
      },
      {
        key: 'apellidos',
        label: 'Apellidos',
        sortable: true
      },
      {
        label: 'Actions',
        key:'actions'
      }
    ],
    items: []
    }
  }
}
</script>

<style>

</style>
