<template>
<div class="container">
<personaForm></personaForm>
</div>
</template>

<script>
import personaForm from './component/PersonaForm.vue';

export default {
  name: 'App',
  components: {
    personaForm
  },
  data () {
    return {
      
    }
  }
}
</script>

<style>

</style>
